body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Anton', sans-serif;
    top: 0;
}

.learn-more {
    margin: 0;
    height: 100vh;
    background-image: url(../../Assets/eolia_background.png)
}

.lm-title {
    margin: 0;
    margin-bottom: 5rem;
    color: #D9D9D9;
    font-size: 3rem;
    padding-inline-start: 5rem;
    padding-top: 6rem;
    text-shadow: 0 0 .25em #222222, 0 0 .25em yellow;
}

.lm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.lm-btn {
    width: 50vw;
    font-weight: bold;
    border: 1px solid hsl(0 0% 100% / .1);
    border-radius: 15px;
}

.icons {
    padding-bottom: 2.5rem;
    font-size: 1.5rem;
}

.icons a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 0 .25em #222222, 0 0 .7em #D9D9D9;
}

.icon {
    margin: .5rem;
    background: hsl(0 0% 100% / .1);
    backdrop-filter: blur(1rem);
    border-radius: 10px;  
}

.icon a {
    padding: .5rem;
}



