body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Anton', sans-serif;
    top: 0;
}

.learn-more {
    margin: 0;
    height: 100vh;
    background-image: url(../../Assets/street6.png)
}

.lm-title {
    margin: 0;
    margin-bottom: 5rem;
    color: #D9D9D9;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-align:center;
    padding-top: 6rem;
    text-shadow: 0 0 .25em #222222, 0 0 .25em yellow;
}

.lm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.icons {
    padding-bottom: 2.5rem;
    font-size: 1.5rem;
}

.icons a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 0 .25em #222222, 0 0 .7em #D9D9D9;
}

.lm-btn {
    width: 45vw;
    padding-block: 1em;
    font-weight: bold;
    border: 1px solid hsl(0 0% 100% / .1);
    margin: .5rem;
    /* background: hsl(0 0% 100% / .1); */
    background: hsla(166, 38%, 11%, 0.55);
    backdrop-filter: blur(1rem)
}

.lm-btn a {
    padding: .5rem;
}

.transition-lm {
    margin: 0;
    padding: 0;
    background-image: url(../../Assets/eolia_background.png);
    width: 100vw;
    height: 25vh;
    margin-bottom: -15vh;
    transform: translateY(-1.5px);
    clip-path: polygon(0 0, 100% 0, 100% 61%, 34% 31%, 71% 32%);
}

@media screen and (min-width: 768) {
    .lm-title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .lm-title {
        font-size: 4rem;
    }
}